:root {
  --white: #FFFF;
  --black: #181A18;
  --font-color-base: #1D1F1E;
  --highlight-green: #C3D0C1;
  /* --light-background: #ece7dc; */
  --light-background: #f5f3f0;
  --highlight-dark-pink: #DDAF9D;
  --highlight-light-pink: #E8C7BB;
  --highlight-yellow: #FFC700;

  --size-5: 0.313rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem; 
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: var(--size-14);
  letter-spacing: 0;
  color: var(--font-color-base);
  background-color: var(--light-background);
}

*,
::after, 
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color-base);
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--highlight-light-pink);
  border: 1px solid transparent;
  padding: .75rem 1.3rem .65rem 1.3rem;
  border-radius: 1.25rem;
  transition: ease-in-out 0.3s;
  color: var(--font-color-base);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.container {
  width: 100%;
  padding-left: var(--size-40);
  padding-right: var(--size-40);
  margin: auto;
}