

/* Nav Bar */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 150;
  background-color: var(--light-background);
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar.sticky {
  margin: 0;
  box-shadow: 0px 0px var(--size-20) rgba(48, 63, 100, 0.2);
}

.nav-logo img {
  width: 55%;
  padding: var(--size-20);
}

.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--black);
  font-size: var(--size-20);
  cursor: pointer;
  pointer-events: none;
}

.nav-list {
  display: flex;
  gap: var(--size-30);
  font-size: var(--size-18);
  margin-top: -30px;
  margin-right: var(--size-50);
  align-items: center;
}

.nav-list li {
  text-transform: uppercase;
  padding: 7px;
  border-radius: 4px;
}

.nav-list li:hover {
  background-color: var(--highlight-yellow);
}

.nav-list .fa-circle {
  color: var(--highlight-light-pink);
}

/* Hero Header */

.hero-wrapper {
  border-bottom: 5px solid var(--highlight-light-pink);
  margin-top: 310px;
}

.hero-text {
  text-align: right;
  padding-right: 20px;
  margin-top: -50px;
  font-size: var(--size-18);
}

.hero-text span, 
.projects-,
.testimonials-title {
  font-size: var(--size-40);
  font-style: italic;
  color: var(--highlight-dark-pink);
}

.hero-text a:hover, .nav-bar li:hover {
  background-color: var(--highlight-yellow);
}

.flower-wrapper {
  display: flex;
  align-items: end;
  position: relative;
  height: 23rem;
}

.flower-wrapper img:nth-child(1) {
  width: 300px;
  height: 400px;
  position: absolute;
  left: -3.563rem;
}

.flower-wrapper img:nth-child(2) {
  position: absolute;
  left: -73px;
  height: 550px;
  z-index: 10;
}

.flower-wrapper img:nth-child(3) {
  height: 470px;
  position: absolute;
  left: 220px;
  z-index: 5;
}

.flower-wrapper img:nth-child(4) {
  position: absolute;
  left: 248px;
  z-index: 5;
  height: 300px;
}

.flower-wrapper img:nth-child(5) {
  position: absolute;
  left: 420px;
  z-index: 5;
  height: 445px;
}

.flower-wrapper img:nth-child(6) {
  position: absolute;
  left: 272px;
  z-index: 10;
}


/* Hero Animations */

.slide-in-bottom{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) both}

.slide-in-bottom-delay{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .5s both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .5s both}

.slide-in-bottom-delay-two{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .7s both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .7s both}

.slide-in-bottom-delay-three{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .9s both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .9s both}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-12 0:28:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}



/* About Me Container */

.about {
  padding-top: 5px;
  background-color: rgba(195, 208, 193, 0.4);
  padding-bottom: 15px;
}

.about-wrapper {
  margin-bottom: 100px;
}

.border-container {
  width: 600px;
  height: 700px;
  margin: 0 auto;
  margin-top: 110px;
  position: relative;
}

.border-container .star-graphic {
  width: 290px;
  height: 290px;
  position: absolute;
  right: -123px;
}

.border-container .about-leaf {
  width: 290px;
  height: 290px;
  position: absolute;
  left: -150px;
  bottom: 120px;
  transform: rotate(-17deg)
}

 @keyframes pulse-black {
	0% {
		transform: scale(0.95);
	}
	
	70% {
		transform: scale(1.07);
	}
	
	100% {
		transform: scale(0.95);
	}
}
.blob {
	margin: 10px;
	height: 20px;
	width: 20px;
	transform: scale(1);
	animation: pulse-black 2s infinite;
}

.border-container img {
  width: 100%;
  height: 100%
}

.about-text {
  margin-top: -160px;
  padding: 37px;
  margin-left: auto;
  margin-right: auto;
  width: 570px;
  background-color: rgba(221, 175, 157, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text p {
  margin-bottom: 15px;
}

.about-text a {
  width: 30%;
  background-color: var(--light-background);
}

.about-text a:hover {
  background-color: var(--highlight-green);
}


/* Project Scroll Bar */

.projects {
  background-color: rgba(233, 232, 229);
  overflow: hidden;
  position: relative;
}

.projects-wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
}

.para {
  object-fit: cover;
}

.projects-wrapper {
  border-top: 4px solid rgba(233, 232, 229);
  width: 100%;
  position: absolute;
  top: 0;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

}

.project-top {
  position: relative;
  padding: 15px;
  text-align: center;
  top: -300px;
  z-index:1;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
}

.projects-header p {
  padding: 10px;
  margin-bottom: 10px;
}

.projects-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  z-index:100;
}

.projects-filter li {
  background-color: var(--highlight-green);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.projects-filter li:hover {
  background-color: var(--highlight-yellow);
}

.scroll-arrows {
  position: absolute;
  top: 60%;
  font-size: 60px;
  font-weight: bold;
  color: #738C77;
  cursor: pointer;
  left: 7%;
  right: 27%;
  z-index: 80;
  background-color: transparent;
}

.scroll-arrows:nth-of-type(2) {
  left: 92%;
  text-align: right;
}

.project-scroller {
  width: 80%;
  height: 500px;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  margin-top: 500px;
  margin-bottom: 90px;
}

.project-scroller::-webkit-scrollbar{
  visibility: hidden;
}

.project-card {
  min-width: 500px;
  min-height: 470px;
  height: 200px;
  position: relative;
  left: 0;
  text-align: center;
  padding-top: 35px;
  font-weight: bold;
  margin: 10px 20px;
  color: var(--highlight-green);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  transition: 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-title, .testimonials-title {
  font-size: var(--size-30);
}

.project-pic {
  width: 400px;
  height: 270px;
  margin: 0 auto;
}

.project-pic img {
  width: 100%;
}

.project-description {
  margin-top: 37px;
  font-size: var(--size-20);
  color: var(--highlight-green);
}

.filter-link.active {
  background-color: var(--highlight-yellow );
}

.card-popup-box {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  transition: 0.4s;
  z-index: 1;
  padding: 1.25rem 1.875rem;
  opacity: 0;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--highlight-dark-pink);
}

.card-popup-box:before {
  position: absolute;
  content: "";
  background: rgba(233, 232, 229);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.9;
  padding: 20px;
  border-radius: 8px;
}

.project-card:hover .card-popup-box {
  bottom: 20px;
  opacity: 1;
  cursor: pointer;
}

.card-popup-box div {
  color: var(--color-text-opacity);
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  padding-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
}

.card-popup-box h4 {
  pointer-events: none;
  color: var(--color-headings);
  font-size: 1.3125rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 20px;
}

.project-popup-btn {
  background: var(--highlight-light-pink);
  color: white;
}

.project-popup-btn:hover {
  background-color: var(--highlight-yellow);
}

/* Modal */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  transition: all 0.35s ease-in;
  visibility: hidden;
  opacity: 0;
  z-index: 1999;
}

.modal-dialog {
  max-width: 800px;
  max-height: 80vh;
  background-color: var(--light-background);
  color: var(--font-color-base);
  overflow: scroll;
  padding: 1.25rem 1.85rem;
  border-radius: 5px;
  cursor: default;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body .img-wrapper {
  max-width: 550px;
  margin-right: 0.75rem;
}

.modal-body .img-wrapper img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 20px; 
}

.modal-header {
  text-align: center;
  padding-bottom: 1rem;
}

.modal-dialog .modal-header h3 {
  color: var(--color-text-base);
  font-size: var(--size-30);
}

.modal-dialog .fa-times {
  font-size: 1.5rem;
  transition: all 0.5s ease-in;
  display: flex;
  justify-content: end;
}

.modal-dialog .text-wrapper {
  margin: auto;
  width: 70%;
}

.modal-dialog .text-wrapper p {
  line-height: 1.9;
  margin-bottom: 30px;
}

.project-ref-btns {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.text-wrapper .project-ref-btns a {
  background-color: var(--highlight-dark-pink);
  margin-bottom: 30px;
}

.modal-dialog .text-wrapper a:hover {
  background-color: var(--highlight-yellow);
}

.modal-dialog .fa-times:hover {
  transition: scale(1.2);
  cursor: pointer;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

[data-animation="slideInOutTop"] .modal-dialog {
  opacity: 0;
  transition: all 0.5s;
}


[data-animation="slideInOutTop"].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutTop"].is-visible .modal-dialog {
  transform: none;
}


/* Testimonials */

#testimonialsSection {
  background-color: var(--highlight-green);
}

.testimonials-wrapper {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  padding-top: 100px;
  z-index: 10;
}

.testimonials-wrapper .testimonials-title {
  color: var(--white);
}

.slide-ctrl-container {
  margin-top: 130px;
}

.slide-ctrl-container button {
  background: none;
  border: none;
  outline: none;
  color: var(--font-color-base);
  font-size: 32px;
  transition: all 0.3s ease-in-out;
  opacity: 0.75;
  cursor: pointer;
}

.slide-ctrl-container button:hover {
  opacity: 1;
}

.slide-ctrl-container button:nth-child(1) { padding-right: 10px; }
.slide-ctrl-container button:nth-child(2) { padding-left: 10px; }

.review-carousel .review-item {
  background: var(--white);
  color: var(--font-color-base);
  max-width: 500px;
  padding: 2.5rem;
  border-radius: 24px;
  width: 100%;
  box-shadow: 0 22px 34px rgba(22, 28, 45, 0.18);
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: -1;
  opacity: 0;
  height: 370px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.review-carousel {
  display: flex;
  justify-content: center;
  height: 250px;
  margin: 100px 0px 50px;
  pointer-events: none;
}

.review-item .review-text {
  padding-bottom: 2.5rem;
  text-align: left;
}

.review-author {
  display: flex;
  text-align: left;
  align-items: center;
  position: relative;
  margin-left: 15px;
  gap: 10px;
}

.review-author .avatar {
  width: 46px; 
  height: 46px;
  margin-right: 12px;
}

.review-author .avatar .five-star-icon {
  width: 70px;
  position: absolute;
  top: -229px;
  left: -20px;
  margin-right: 15px;
}

.review-author .avatar .heart-icon {
  width: 50px;
  position: absolute;
  margin-right: 15px;
  left: 0px;
  top: -129px;
}

.details .name {
  font-size: 18px;
  line-height: 1.5;
}

.details .company {
  color: #6b6b6b;
}

.review-item.active {
  transform: translate(0, -10%);
  z-index: 10;
  opacity: 1;
}

.review-item.prev {
  transform: translateX(-75%);
}

.review-item.next {
  transform: translateX(75%);
}

.review-item.prev, 
.review-item.next {
  opacity: 0.25;
}


/* Contact Me */ 

.contact-me {
  background-color: var(--highlight-light-pink);
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}

form {
  min-height: 47vh;
  width: 100%;
  color: #777474;
  background-color: var(--white);
  border-radius: 2rem;
  min-width: 750px;
  padding: 3rem 5rem;
  display: flex;
  position: relative;
  background-color: var(--white);
}

.contact-title {
  font-size: var(--size-30);
  color: var(--highlight-green)
}

.contact-left .description {
  margin-top: 7px;
  font-size: var(--size-16)
}

.contact-right,
.contact-left {
  flex: 1;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: none;
  outline: none;
  color: #777474;
  font-size: 0.7rem;
}

textarea {
  border: 2px solid #E8E8E8;
  margin-top: 7px;
}

.input-container {
  position: relative;
}

.placeholder {
  position: relative;
  z-index: 1;
  pointer-events: none;
  padding: 0.3rem 0rem;
  font-size: var(--size-16);
  opacity: 0.6;
  transform-origin: left;
}

.line-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  opacity: 0.8;
}

.contact-sbt-btn {
  background-color: var(--highlight-green);
}

.tick-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  z-index: 2;
}

#character {
  position: absolute;
  transform: scale(0.7) translate(-53%, 27%);
  bottom: 0;
  left: 0;
  transform-origin: bottom;
}

.submitted {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #777474;
  font-size: 1rem;
  pointer-events: none;
  text-align: center;
  transform: translate(-45%, -50%);
  opacity: 0;
}

/* Footer */ 

.footer-wrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper .logo-container {
  width: 270px;
  margin-left: 30px;
}

.footer-wrapper .logo-container img {
  width: 100%;
}

.footer-links {
  display: flex;
  padding: 20px;
  gap: 50px;
  font-size: var(--size-16);
}

.footer-navigation li, .footer-socials li {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 9px;
}

.footer-navigation li a:hover, .footer-socials li a:hover {
  color: var(--highlight-yellow);
}

.footer-socials .icon {
  background-color: var(--highlight-light-pink);
  padding: 10px;
  border-radius: 50%;
}

.copyright {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 7px;
}