.palm {
  animation: sway1 5s infinite;
  /* transform-origin: 50% 100% 0; */
}
@keyframes sway1 {
  0%, 100%{ transform: rotate(0deg);}
  40%{ transform: rotate(3deg); }
}

/* Nav Bar */

.nav-container {
  display: flex;
  justify-content: space-between;
}

.logo-nav img {
  width: 65%;
  padding: var(--size-30);
}

.nav-bar {
  display: flex;
  gap: var(--size-40);
  padding: var(--size-40);
  margin-top: var(--size-30);
  position: fixed;
  right: var(--size-100);
}

.nav-bar li {
  text-transform: uppercase;
  cursor: pointer;
}

.nav-bar .fa-circle {
  color: var(--highlight-light-pink);
}

/* Hero Header */

/* .swing {
  animation: swing ease-in-out 3s infinite alternate;
  transform-origin: bottom -20px;
  float:left;
}

@keyframes swing {
  0% { transform: rotate(1deg); }

  100% { transform: rotate(-1deg); }
} */

.hero-wrapper {
  margin-bottom: 50px;
}

.hero-text {
  text-align: right;
  padding-right: 20px;
  margin-top: -50px;
  font-size: var(--size-18);
}

.hero-text span, 
.projects-title {
  font-size: var(--size-40);
  font-style: italic;
  color: var(--highlight-dark-pink);
}

.hero-text a:hover, .nav-bar li:hover {background-color: var(--highlight-green);}

.flower-wrapper {
  display: flex;
  align-items: end;
  position: relative;
}

/* .flower-1 {
  width: 100%;
  position: absolute;
  right: 190px;
  z-index: 100;
  background: transparent;
}

.flower-2 {
  position: absolute;
  left: 140px;
  z-index: 100;
  background: transparent;
}

.flower-3 {
  position: absolute;
  left: -150px;
  z-index: 100;
  background: transparent;
} */

/* 
.flower-wrapper img {
  height: 30rem;
  width: 15rem;
} */

.flower-wrapper img:nth-child(1) {
  width: 700px;
  height: 600px;
  position: relative;
  left: -15.563rem;
}

.flower-wrapper img:nth-child(2) {
  position: absolute;
  left: -50px;
  height: 550px;
  z-index: 5;
}

.flower-wrapper img:nth-child(3) {
  height: 610px;
  position: absolute;
  left: 50px;
  z-index: 5;
}

.flower-wrapper img:nth-child(4) {
  position: absolute;
  left: 270px;
  z-index: 5;
  height: 300px;
}

.flower-wrapper img:nth-child(5) {
  position: absolute;
  left: 360px;
  z-index: 5;
  height: 560px;
}

.flower-wrapper img:nth-child(6) {
  position: absolute;
  left: 290px;
}


/* Hero Animations */

.slide-in-bottom{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) both}

.slide-in-bottom-delay{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .5s both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .5s both}

.slide-in-bottom-delay-two{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .7s both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .7s both}

.slide-in-bottom-delay-three{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .9s both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) .9s both}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-12 0:28:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

/* About Me Container */

.about-wrapper {
  margin-bottom: 100px;
}

.border-container {
  width: 600px;
  height: 700px;
  margin: 0 auto;
  margin-top: 110px;
}

.border-container img {
  width: 100%;
  height: 100%
}

.about-text {
  margin-top: -160px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 570px;
}



/* Project Scroll Bar */

.projects {
  background-color: rgba(255, 255, 255, 0.30);
  padding: 5px;
}

main {
  width: 100%;
  margin: 120px auto;
  overflow: hidden;
  position: relative;
}

.project-header {
  text-align: center;
  margin-bottom: 37px;
}

.projects-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.projects-filter li {
  background-color: var(--highlight-green);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.projects-filter li:hover {
  background-color: var(--highlight-yellow);
}

.scroll-arrows {
  position: absolute;
  top: 40%;
  font-size: 60px;
  font-weight: bold;
  color: var(--highlight-green);
  cursor: pointer;
  left: 7%;
  right: 27%;
  z-index: 100;
  background-color: transparent;
}

.scroll-arrows:nth-of-type(2) {
  left: 92%;
  text-align: right;
}

.project-scroller {
  width: 80%;
  height: 500px;
  margin: 10px auto;
  display: flex;
  justify-content: left;
  overflow-x: auto;
}

.project-scroller::-webkit-scrollbar{
  visibility: hidden;
}

.project-card {
  min-width: 500px;
  min-height: 450px;
  height: 200px;
  position: relative;
  left: 0;
  text-align: center;
  padding-top: 60px;
  font-weight: bold;
  margin: 10px 20px;
  color: var(--highlight-dark-pink);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
  transition: 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-title {
  font-size: var(--size-30);
}

.project-pic {
  width: 400px;
  height: 270px;
  margin: 0 auto;
}

.project-pic img {
  width: 100%;
}

.project-description {
  margin-top: 15px;
  color: var(--highlight-green);
}

 /* About Me */

 .about-me {
   margin-top: var(--size-150);
   display: flex;
   align-items: center;
   gap: var(--size-50);
 }

 .headshot-img {
   width: 20rem;
   height: 20rem;
   border-radius: 50%;
 }